---
import { getCollection } from 'astro:content';
import PodcastLayout from '../../layouts/PodcastLayout.astro';
import { getYouTubeVideoDetails } from '../../utils/youtube'
import Layout from '@/layouts/Layout.astro';

export async function getStaticPaths() {
  const blogEntries = await getCollection('podcasts');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const allPosts = await getCollection("posts");

const { slug } = Astro.params;
const videoId = slug;
console.log('Received parameters:', Astro.params);
console.log('Received videoId:', videoId);

if (typeof videoId !== 'string' || videoId.trim() === '') {
    throw new Error('videoId is not a valid string');
}

const videoDetails = await getYouTubeVideoDetails(videoId);
---

<PodcastLayout frontmatter={entry.data}>
      <ul>
    {
      allPosts.map((post) => (
        <a href={`/posts/${post.slug}/`} title={post.data.title} />
      ))
    }
  </ul>
</PodcastLayout>

<Layout title={videoDetails.snippet.title}>
    <h1>{videoDetails.snippet.title}</h1>
    <img src={videoDetails.snippet.thumbnails.high.url} alt={videoDetails.snippet.title} />
    <p>{videoDetails.snippet.description}</p>
    <p>Published on: {new Date(videoDetails.snippet.publishedAt).toLocaleDateString()}</p>
</Layout>
