---
import Layout from './Layout.astro'
import SectionContainer from './SectionContainer.astro'
import { Image } from 'astro:assets'

const { frontmatter } = Astro.props
const pubDate = frontmatter.pubDate.toString().slice(4, 15)
---

<style>
    * + * {
        margin-top: var(--size-4);
    }

    .post-info {
        padding-block-start: var(--size-fluid-5);
        .post-date {
            text-transform: uppercase;
            font-family: var(--font-mono);
            font-weight: var(--font-weight-6);
            font-size: var(--font-size-1);
            color: var(--brand-primary);

            + .post-title {
                margin-top: var(--size-00);
            }
        }
    }

    .post-content {
        padding-block-end: var(--size-fluid-5);
        margin-top: var(--size-8);
    }

    .blog-width {
        max-width: 800px;
        margin-inline: auto;
        padding-inline: var(--size-4);
        z-index: var(--layer-3);
    }

    .back-button {
        display: inline-block;
        margin-block-end: var(--size-5);
        padding-inline-end: var(--size-4);
        color: var(--brand-secondary);
        font-size: var(--size-fluid-2);
        font-weight: var(--font-weight-7);
        text-decoration: none;
        text-transform: uppercase;
        transition: var(--ease-in-2);
        transition-property: color, transform;
        will-change: transform;
    }

    .back-button:hover {
        color: var(--brand-primary);
        text-decoration-color: var(--brand-primary);
        transform: translateX(-0.25rem) translateZ(0);
    }
</style>

<SectionContainer>
    <div class="full-width blog-width">
        <div class="post-info">
            <a
                href="/blog"
                class="back-button"
                ><span>&larr;</span> back</a
            >
            <p class="post-date">{pubDate}</p>
            <h1 class="post-title">{frontmatter.title}</h1>
            <p>{frontmatter.description}</p>
        </div>
        <Image
            width={400}
            height={400}
            src={frontmatter.imageSrc}
            alt={frontmatter.title}
        />
        <div class="post-content">
            <slot />
        </div>
    </div>
</SectionContainer>
