---
import Layout from './Layout.astro'
import SectionContainer from './SectionContainer.astro'
import { Image } from 'astro:assets'

const { frontmatter } = Astro.props
const pubDate = frontmatter.pubDate.toString().slice(4, 15)
---

<style>
    * + * {
        margin-top: var(--size-4);
    }

    .post-info {
        padding-block-start: var(--size-fluid-5);
        .post-date {
            text-transform: uppercase;
            font-family: var(--font-mono);
            font-weight: var(--font-weight-6);
            font-size: var(--font-size-1);
            color: var(--brand-secondary);

            + .post-title {
                margin-top: var(--size-00);
            }
        }
    }

    .post-content {
        padding-block-end: var(--size-fluid-5);
        margin-top: var(--size-8);
    }

    .blog-width {
        max-width: 48.25rem;
        margin-inline: auto;
    }
</style>

<Layout title={frontmatter.title}>
    <main class="page-wrapper">
        <SectionContainer>
            <div class="full-width blog-width">
                <div class="post-info">
                    <p class="post-date">{pubDate}</p>
                    <h1 class="post-title">{frontmatter.title}</h1>
                    <p>{frontmatter.description}</p>
                </div>
                <Image
                    width={400}
                    height={400}
                    src={frontmatter.imageSrc}
                    alt={frontmatter.title}
                />
                <div class="post-content">
                    <slot />
                </div>
            </div>
        </SectionContainer>
    </main>
</Layout>
